@import "../../styles/theme/variables";
.form-fld {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 5px;
  margin:  0  0 40px;

  input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-size: 14px;
    color: $white;


    &::placeholder {
      color: #999999;
    }
  }
}
